p {
    color: rgb(46, 129, 217);
    background-color: rgb(255, 213, 213);

    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    width: 60%;
    height: 20%;

    border: 7px solid red;
    border-radius: 5px;

    padding: 1in;

    margin: 1cm;
    margin-top: 1cm;
}

.postcard {
    /* Add styles here if needed */
}

#img1 {
    /* Add styles here if needed */
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    padding: 1cm;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 1mm;
    padding: 1cm;
    font-size: 1em;
    text-align: center;
    width: 10%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}