.flex-container{
    display: flex;
    background-color: green;
    flex-wrap: wrap;
    padding: 1cm;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 1mm;
    padding: 1cm;
    font-size: 1em;
    text-align: center;
    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container > div.special {
    flex-grow: 5;
    margin-left: 1cm;
    margin-right: 1cm;
}
.flex-container > div.special_2 {
    flex-grow: 5;
    margin-left: 1cm;
    margin-right: 1cm;
}