.streamscene{
    position : absolute;
    top : 3mm;
    left : 10mm;
}

.home{
    position : absolute;
    top : 5mm;
    left : 130mm;
}

.movies{
    position : absolute;
    top : 5mm;
    left : 160mm;
}

.shows{
    position : absolute;
    top : 5mm;
    left : 190mm;
}

.flex-container > div {
    background-color: #d9d9d9;
    margin: 5mm;
    padding: 2mm;
    text-align : right;
    padding-bottom: 4mm;
    width: 70mm;
    height: 4mm ;
    border-radius: 25px;
    font-style: italic;
    font-weight: lighter;
}
.flex-container {
    display: flex;
    position: absolute;
    top : 3.75mm;
    left : 250mm;
    font-size: 125%;
}

.name{
    position : absolute;
    top : 20mm;
    left : 150mm;
    font-size: 150%;
}

.img1{
    position : absolute;
    top : 40mm;
    left : 15mm;
    margin-bottom: 10mm;
    border-radius: 25px;
}

.text{
    position : absolute;
    top : 35mm;
    left : 170mm;
    font-size: 200%;
    width: 150mm;
}